#############
## Whatever
#############
sql/
*.Cache
~$*
*~
*.log

# Pywikibot detritus
dyknotifier/apicache/
user-config.py
throttle.ctrl
pywikibot.lwp

# Vim detritus
*.swp

# A configuration file
config.txt

# A JSON dump from the pwb file
dyknotifier_list.json
notified.json

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
